<f:layout name="Default" />

This Template is responsible for displaying a single view for a domain object

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        Show.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">

    <f:if condition="{bDebug}">
        <f:debug title="plugin.tx_teufelscptcntimg_teufelscptcntimgshowfalimage.aSettings">{aSettings}</f:debug>
        <f:debug title="plugin.tx_teufelscptcntimg_teufelscptcntimgshowfalimage.aFigure">{aFigure}</f:debug>
    </f:if>

  <f:flashMessages />

  <div class="focuspoint"
      data-focus-x="{aSettings.focusX}"
      data-focus-y="{aSettings.focusY}"
      data-focus-w="{aFigure.iWidth}"
      data-focus-h="{aFigure.iHeight}"
      data-image-w="{aFigure.iWidth}"
      data-image-h="{aFigure.iHeight}">
      <img src="{aFigure.sSrc}"
            data-echo="{aFigure.sUrl}"
            width="{aFigure.iWidth}"
            height="{aFigure.iHeight}"
            alt="{aFigure.oCoreFileReference.alternative}"
            title="{aFigure.oCoreFileReference.title}"
            class="b-lazy opacity_0"
            id="{aFigure.sId}"/>

      <f:if condition="{aFigure.oCoreFileReference.description} == ''">
          <f:else>
              <figcaption class="position_absolute">
                  <div class="{aSettings.classes.div}">
                      <div class="{aSettings.classes.div1}">
                          <div class="{aSettings.classes.div2}">
                              <div class="{aSettings.classes.div3}">
                                  <f:format.raw>
                                      {aFigure.oCoreFileReference.description}
                                  </f:format.raw>
                              </div>
                          </div>
                      </div>
                  </div>
              </figcaption>
          </f:else>
      </f:if>
  </div>

</f:section>